# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
*.png 
whatsapp-bot-api/
*.exe
*.deb
*.sqlite-*
*.sqlite
docs/canvaskit
*/canvaskit
/build/
generate_glx_*